@use "./utilities.scss";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Layout container as flex column */
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
  background-color: #e9f0fd;

  main {
    flex: 1;
    background-color: white;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

footer {
  margin-top: auto;
}
